/* amv Carousel */
.amv-carousel{
	/* Important - this builds on the standard portfolio carousel and */
	/* extends the class to include clients-carousel */
	&:extend(.portfolio-carousel all);
	.item{padding: 50px;}
	.owl-item{
		height: 470px;
	}
	.item{
		height: 100%;
		.author{
			a{
				padding: 5px 15px;
				text-align: center;
				border-radius: 25px;
			}
		}
		&.adrenaline{
			@brand-color:  @greyDark;
			@quote-color:  @greyDark;
			color: @quote-color;
			background-image: url('../img/amv/ambient_visuals_sports.jpg');
			.author{
				a{
					background: @brand-color;
					color: white;
					&:hover{
						background: darken(@brand-color, 10%);
					}
				}
			}
		}
	}
}