/* animation.less */
.animatedOnHover{
	.animated{
		animation-duration: 0s;
		-webkit-animation-duration: 0s;
	}
	&:hover{
		.animated{
			animation-duration: 2s;
			-webkit-animation-duration: 2s;
		}
	}
}

.bigEntrance{

	animation-name: bigEntrance;
	-webkit-animation-name: bigEntrance;	

	animation-duration: 3.6s;	
	-webkit-animation-duration: 3.6s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	visibility: visible !important;			
}

.delay-150{
	animation-delay: 150ms;
	-webkit-animation-delay: 150ms;
}
.delay-600{
	animation-delay: 600ms;
	-webkit-animation-delay: 600ms;
}
.delay-950{
	animation-delay: 950ms;
	-webkit-animation-delay: 950ms;
}

@keyframes bigEntrance {
	0% {
		transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(130%);
		opacity: 0;
	}
	30% {
		transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-64%);		
		opacity: 1;
	}
	45% {
		transform: scale(0.98) rotate(1deg) translateX(0%) translateY(-62%);
		opacity: 1;
	}		
	100% {
		transform: scale(1) rotate(-6deg) translateX(0%) translateY(-200%);
		opacity: 0;
	}	
}

@-webkit-keyframes bigEntrance {
	0% {
		-webkit-transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(130%);
		opacity: 0;
	}
	30% {
		-webkit-transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-64%);		
		opacity: 1;
	}
	45% {
		-webkit-transform: scale(0.98) rotate(1deg) translateX(0%) translateY(-62%);
		opacity: 1;
	}		
	100% {
		-webkit-transform: scale(1) rotate(-6deg) translateX(0%) translateY(-200%);
		opacity: 0;
	}				
}

/**************************************************/
/************ CARD FAN ANIMATION ******************/
/**************************************************/

@cardSizeLarge: 150px;
@cardSizeMed: 120px;
@cardSizeSm: 100px;
div.cardfan { 
	/*height: 356px; 
	width: 700px; */
	margin: 2rem auto 0;
	position: relative; 
	@media screen and (max-width: 991px){
		/* Some Funky Maths to get them centered */
		margin-left: round((@cardSizeSm * 1.8)/3) *-1 ;
	}
}
div.cardfan img { 
	position: absolute; 
	display: block;
	left: round(@cardSizeLarge * 1.3); 
	width: @cardSizeLarge; 
	height: @cardSizeLarge; 
	transform-origin: center round(@cardSizeLarge * 2.67); 
	-webkit-transform-origin: center round(@cardSizeLarge * 2.67); 
	
	box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2); 
	transition: all .2s ease; 
	-webkit-transition: all .2s ease; 

	@media screen and (max-width: 1360px){
		left: round(@cardSizeMed * 1.3); 
		width: @cardSizeMed;
		height: @cardSizeMed;
		transform-origin: center round(@cardSizeMed * 2.67); 
		-webkit-transform-origin: center round(@cardSizeMed * 2.67); 
	}	
	@media screen and (max-width: 991px){
		left: 50%;
		width: @cardSizeSm;
		height: @cardSizeSm;
		transform-origin: center round(@cardSizeSm * 2.67); 
		-webkit-transform-origin: center round(@cardSizeSm * 2.67); 
	}
}
div.cardfan img:first-child { 
	transform: rotate(15deg);  
	-webkit-transform: rotate(15deg);  
}
div.cardfan img:last-child { 
	transform: rotate(-15deg); 
	-webkit-transform: rotate(-15deg); 
}
div.cardfan:hover img:first-child { 
	transform: rotate(20deg); 
	-webkit-transform: rotate(20deg); 
}
div.cardfan:hover img:nth-child(2) { 
	transform: rotate(3deg); 
	-webkit-transform: rotate(3deg); 
}
div.cardfan:hover img:last-child { 
	transform: rotate(-20deg);  
	-webkit-transform: rotate(-20deg);  
}