/*These styles are to put the triangle at the bottom/top of a callout box */

@triangleSizeMed: 5px;
@triangleSizeMedPlusOne: 6px;

/* TRIANGLE AT BOTTOM */
.callout-bottom {
	position: relative;
	background: @white;
	border:0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    min-height: 16px;
}

.callout-bottom:after, .callout-bottom:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.callout-bottom:after {
	border-color: rgba(245, 245, 245, 0);
	border-top-color: @white;
	border-width: @triangleSizeMed;
	margin-left: -@triangleSizeMed;
}
.callout-bottom:before {
	border-color: rgba(221, 221, 221, 0);
	border-top-color: #dddddd;
	border-width: @triangleSizeMedPlusOne;
	margin-left: -@triangleSizeMedPlusOne;
}
/* TRIANGLE AT BOTTOM */
.callout-top {
	position: relative;
	background: #f5f5f5;
	border: 1px solid #dddddd;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
}
.callout-top:after, .callout-top:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.callout-top:after {
	border-color: rgba(245, 245, 245, 0);
	border-bottom-color: #f5f5f5;
	border-width: @triangleSizeMed;
	margin-left: -@triangleSizeMed;
}
.callout-top:before {
	border-color: rgba(221, 221, 221, 0);
	border-bottom-color: #dddddd;
	border-width: @triangleSizeMedPlusOne;
	margin-left: -@triangleSizeMedPlusOne;
}


/* TRIANGLE AT RIGHT */
.callout-right {
	position: relative;
	background: @greyDark;
	border: 1px solid #666; //underline colour
        border-left-width: 0;
        border-right-width: 0;
        border-top-width: 0;
        min-height: 16px;
}

.callout-right:after, .callout-right:before {
	top: 50%;
	left: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.callout-right:after {
	border-color: rgba(245, 245, 245, 0);
	border-left-color: white; //main color
	border-width: @triangleSizeMed;
	margin-top: -@triangleSizeMed;
}
.callout-right:before {
	border-color: rgba(221, 221, 221, 0);
	border-left-color: white; //shadow color
	border-width: @triangleSizeMedPlusOne;
	margin-top: -@triangleSizeMedPlusOne;
}