/* Clients Carousel */
.clients-carousel{
	/* Important - this builds on the standard portfolio carousel and */
	/* extends the class to include clients-carousel */
	&:extend(.portfolio-carousel all);
	.item{padding: 50px;}
	.owl-item{
		height: 620px;
	}
}
.item{
	.author{
		a{
			padding: 5px 15px;
			text-align: center;
			border-radius: 25px;
		}
	}
	&.matisse{
		@brand-color: #55439B;
		@quote-color: white;
		color: @quote-color;
		background-image: url('../img/testimonials/nightlife_music_matisse_beach_club_gina_brand.jpg');
		.author{
			a{
				background: @brand-color;
				color: white;
				&:hover{
					background: darken(@brand-color, 10%);
				}
			}
		}
	}

	&.snapfitness{
		@brand-color: #B22024;
		@quote-color: white;
		color: @quote-color;
	 	background-image: url('../img/testimonials/nightlife_music_snap_fitness._david_noonan.jpg');

	 	.author{
	 		a{
	 			background-color: @brand-color;
	 			color: white;
				&:hover{
					background: darken(@brand-color, 10%);
				}
	 		}
	 	}
	}	
	&.frankstonrsl{
		@brand-color: #00225C;
		@quote-color: white;
		color: @quote-color;
	 	background-image: url('../img/testimonials/nightlife_music_frankston_rsl.jpg');

	 	.author{
	 		a{
	 			background-color: @brand-color;
	 			color: white;
				&:hover{
					background: darken(@brand-color, 10%);
				}
	 		}
	 	}
	}	
	&.collaroyhotel{
		@brand-color: #00225C;
		@quote-color: white;
		color: @quote-color;
	 	background-image: url('../img/testimonials/nightlife_music_collaroy_hotel_alistair_flower.jpg');

	 	.author{
	 		a{
	 			background-color: @brand-color;
	 			color: white;
				&:hover{
					background: darken(@brand-color, 10%);
				}
	 		}
	 	}
	}	
	&.vivalavida{
		@brand-color: #542933;
		@quote-color: white;
		color: @quote-color;
	 	background-image: url('../img/testimonials/nightlife_music_viva_la_vida_kate_staples.jpg');

	 	.author{
	 		a{
	 			background-color: @brand-color;
	 			color: white;
				&:hover{
					background: darken(@brand-color, 10%);
				}
	 		}
	 	}
	}
}
