@black:                 #000;
@greyDarker:            #222;
@greyDark:              #333;
@grey:                  #555555;
@greyMore:              #788388;
@greyLight:             #f3f4f3;
@greyPale:              #dadddd;
@greyMid:              #999999;
@greyLighter:           #eee;
@white:                 #fff;
@offWhite:                 #f5f5f5;

@navbarInverseBackground:                #111111;
@navbarInverseBackgroundHighlight:       #222222;
@navbarInverseBorder:                    #252525;

@inputBorder:                   #ccc;

@navbarInverseText:		@white;
@bodyBackground:        @white;
@textColor:             @greyDark;

@blue:                  #007fd0;
@blueDark:              #0f2e36;
@blueLight:             #8fc6d7;
@blueLighter:           #dfeff4;
@blueBright:            #31AFD6;

@stormBlue:             #167694;
@stormLight:            #b7d5de;
@stormYellow:           #dcd879;
@stormRed:              #941616;
@stormRedPale:          #f7efef;
@stormGreen:            #5ab37f;
@stormGreenLime:        #B4F3CE;
@stormGreenLimeDark:    #A5C2B1;
@stormBlack:            #06171d;

@green:                 #799421;
@greenLight:            #90C40B;

@redDark:               #631319;
@red:                   #be0b1d;
@redLight:              #e7a5a9;

@yellow:                #ffc40d;
@orange:                #e55c11;
@pink:                  #e8a5b6;
@purple:                #c3325f;
@stormyDark:            #121414;
@yellow:                #f9ce00;
@yellowLight:           #fef8d4;

/*
 * HDMS Specific Colours
 */
@hdmsPurple: #b02fec;
@hdmsGreen: #66ba2e;
@hdmsFuchsia: #f230c1;
@hdmsRed: #e53030;
@hdmsTeal: #2fccab;
@hdmsOlive: #acb62e;
@hdmsMaroon: #ac3a2d;
@hdmsBlack: #000000;

@panelHeading: 			#eeeeef;
@panelBody: 			#e2e3e4;
@panelFooter: 			darken(@panelBody, 2%);