/* Search Bar at Top */
#search-label{
	&.active{
		background: red;
	}
	&:hover{cursor: pointer;}
}

/* Video Modal */
.video-modal{
	background: black;
	&.video-js{
		background: none;
	}
}

/* A row-spanning image such as the cityscape svgs on the home page */
.row-image{
	display: block;
	margin-top: -65px;
 	background-position-y: bottom;
	width: 100%;
	height: 135px;
	background-repeat: repeat-x;
	&.cityscape{
		background-image: url('../img/svg/cityscape.svg');
		margin-top: -100px;
		@media screen and (max-width: 1092px){
			height: 113px;
		}
	}
	&.urbanscape{
		background-image: url('../img/svg/urbanscape_negative.svg');
		background-color: transparent;
		margin-top: 0;
		position: absolute;
 		background-position-y: top;
		@media screen and (max-width: 1092px){
			height: 52px;
		}
	}

}

#faq-nav{
	ul{
		li{
			&.active{
				background: @greyPale;
				border-left: 3px solid @stormGreen;
				a{
					color: @greyDark;
					font-family: 'open_sanssemibold';
				}
			}
		}
	}
}


/* Tabs On Slides on the Journey Page
.home-tabpanel{
	@media(min-width: 768px){
		background: @greyPale;
	}
	ul{
		background: @greyDark;
		li{
			margin-bottom: 0;
			background: @greyDark;
			a{
				padding: 10px 20px;
				font-size: 19px;
				@media (max-width: 991px){
					font-size: 17px;
					padding: 10px;
				}
				.heading-font;
				color: @white;
				border: 0;
				margin-right: 0;
				.border-radius(0);
				&:hover{background: lighten(@greyDark, 10%);}
			}
			&.callout-bottom{
				border: 0;
					&:before{border-top-color: transparent;}
					&:after{border-top-color: transparent;}
				}
			&.active{
				background: @stormBlue;
				
				a{
					.border-radius(0) !important;
					border: 0;
					background: transparent;
					color: white;
					&:focus, &:hover{background: transparent; color: white;	border: 0;}		
				}
				
				&.callout-bottom:after{border-top-color: @stormBlue;}
			}
		}
	}

	.tab-pane{
		h3{.sans-serif-font;}
		padding: 20px;
		span, p{
			font-size: 18px;
		}
	}
}
 */

/*
.nl-tab-panel{
	background: transparent;
	padding: 10px;
	.panel{
		margin-bottom: 30px;
		&:nth-child(even){
			.panel-heading, .panel-body{
				background: @greyLight;
			}
		}
		.border-radius(0,0,0,0);
		.panel-heading{
			background: @white;
			.border-radius(0,0,0,0);
			h4{color: @greyMid;}
		}
		.panel-body{
			padding-top: 0;
			h3{
				margin-top: 0;
				color: @stormGreen;
			}
			p{
				color: @greyDark;
				font-size: 14px;
			}
		}
	}
}
*/

/* For instance, the wood-background grid on the what we do page*/
.wwd-grid{
	div > span {
		display: block;
		background-color: rgba(255,255,255,1);
		margin: 10px 0;
		padding: 20px;
		border-radius: 5px;
		height: 300px;
		
		p{	
			font-size: 18px;		
		}
		
		button{
			a{
				color: white;
			}
		} 
	}
}
/* Embedded video play buttons */
.inline-play{
	display: inline-block;
	width: 100%;
	/*max-width: 580px;
	/*height: 326px;*/
	/*max-height: 326px;*/
	padding: 145px 0;
	@media screen and (max-width: 450px){
		height: 156px;
		padding: 55px 0;

	}
	text-align: center;
	background-color: @greyLight;
	font-size: 2.5rem;
	background-image: url('../img/poster_nightlife_culture.jpg');
	background-size: cover;
	i{
		background-color: darken(@stormGreen, 5%);
		color: white;
		padding: 10px 25px;
	}
	&:hover{
		cursor: pointer;
		background-color: darken(@greyLight, 5%);
		i{background-color: @stormGreen;}
	}

}