/* journey.nav.less */

@menuItemBackground: @white;
@menuItemBackgroundActive: @stormGreen;

.journey-nav{
  position: fixed;
  top: 80px;
  width: 100%;
  z-index: 1045;
  .border-radius(0);
    background: @menuItemBackground;
    display: block;
    visibility: visible;
    opacity: 1;
    border: 0;
    min-height: 20px;
  	-webkit-transition: opacity 1s;
  	-moz-transition: opacity 1s;
  	transition: opacity 1s;
  &.invisible{
  	visibility: hidden;
  	opacity: 0;
  }
  @media(max-width:768px) {
  	opacity: 0;
  }

  ul{
  	li{
  		background: lighten(@menuItemBackground, 10%);
  		a{
  			color: white;
  			padding: 5px 10px;
  			font-size: 12px;
  			&:focus{background: @menuItemBackgroundActive;}
  			&:hover{color: white; background: lighten(@menuItemBackground, 20%);}
  		}
		&.active{
			background: @stormGreen;
			a:hover{background: @stormGreen;}
			&.callout-bottom:after{
				border-color: rgba(245,245,245,0);
				border-top-color: @menuItemBackgroundActive;
			}
		}
		&.callout-bottom{
			border-bottom: 0;
			margin-right: 2px;
			
			&:before {
				border-color: rgba(245,245,245,0);
				border-top-color: transparent;
			}			
			&:after {
				border-color: rgba(245,245,245,0);
				border-top-color: transparent;
			}
	  	}

  	}
  }
}