/*#designing{
	h1, p, h3{text-align: left;}
}*/

#weredifferent{
	/*background: url('../img/nightlife_music_beach_background.jpg');*/
	background-size: cover;
	background-position: 50%;
}

/* Tabs for the "We Know Your Space" section */
#weknow{
	background: url('../img/nightlife_music_venue_photo.jpg');
	background-size: cover;
	background-position: 50%;
	h1{color: white;}
	.callout-top{
		background: @stormGreen;
		color: white;
		border: 0;
		padding: 20px 10px;
		&:before, &:after{
			left: 5%;
			border-bottom-color: @stormGreen;
		}
	}
}
.we-know-tabs{
	background: transparent;
	color: white;
	@media (min-width: 768px){
		position: relative;
		height: 400px;
	}

	ul{
		width: 250px;
		border: 0;
		position: absolute;
		top: 0;
		left: 0;
		li{
			float: none;
			a{
				.sans-serif-font;
				font-size: 1.2rem;
				i{margin-right: 10px;}
				.subtext{color: @greyMid;}
			}
			&.callout-right{
				&:before{border-left-color: transparent;}
				&:after{border-left-color: transparent;}
				&:last-child{border: 0;}
			}
			&.active{
				background: @stormGreen;
				
				&.callout-right:after{border-left-color: @stormGreen;}
			}
		}
	}
	.tab-content{
		position: absolute;
		top: 0;
		left: 260px;
		.tab-pane{
			padding :0; margin: 0;
			h3{.heading-font; margin-top: 0;}
		}
	}
}

.homevideo{
	background: rgba(0,0,0,0.6);
	min-height: 150px;
	margin-top: 60px;

	i{
		font-size: 50px;
		color: @greyPale;
		margin-top: 50px;
	}
	&:hover{
		cursor: pointer;
		i{
			color: @white;
		}
	}

}
#introvideo{
	background-color: lighten(@greyDark, 5%);
	@media(min-width: 768px){
		padding: 160px 0;
		height: 600px;
	}
	text-align: center;
	color: white;
	font-size: 35px;
	position: relative;
	transition: all 500ms ease;
	-webkit-transition: all 500ms ease;

	&:hover{
		background-color: black;
		cursor: pointer;
	}
	>.container-fluid{
		/*position: absolute;
		top: 50%;
		margin-top: -70px;
		left: 50%;
		margin-left: -200px;*/
	}

	.play-btn{
		color: @grey;
		&.bounceIn{
		 	color: @white;
		 	cursor: pointer;
		}
	}
}

#ourservice{
	background-image: url('../img/nightlife_music_teens_cafe.jpg');
}

#hardware{
	background-image: url('../img/nightlife_music_girl_dancing.jpg');
}

#licensing{
	/*img{background: white; border: 8px solid white;}*/
	img{padding: 40px;}
}

#contact{
	.panel-body{
		padding: 25px;
		h1,h2,h3{margin: 0;}
	}
}