/* pages.less */

#music{
	.icon-columns p{
		&.quote{
			font-style: italic;
			color: lighten(@greyDark, 20%);
			font-weight: 100;
		}
		font-size: 16px;
		font-weight: 500;
		color: @greyDark;
	}
}

#whatwedo{
	background-image: url('../img/bg_wood.jpg');
	background-repeat: repeat;
	background-size: auto;

	.wwd-stamp{
		 margin-top: -180px;
		img{
			display: inline-block;
		}
		 @media screen and (max-width: 480px){
		 	margin-top: -130px;
		 }
	}
}

#whatwedo-topbar{
	background-image:url('../img/forest_background.jpg');
}

#visuals{
	background-color: @greyDark;
	color: white;
	padding: 100px 0;
	padding-bottom: 20px;

	.portfolio-carousel{
		margin-top: 80px;
	}
}

/* "Over 2700 Clients" Section on Journey Page */
#clients{
	background-image: url('../img/nightlife_music_client_logos.jpg');
	background-size: 100%;

	@media screen and (max-width: 768px ){
		background-size: 200%;
	}
}

#faq{
	h2{
		padding-top: 50px;
		padding-bottom: 20px;
		border-bottom: 1px solid @greyPale;
		color: @stormGreen;
	}
	
	h4{
		font-size: 28px;
		margin-top: 30px;
		
		@media (min-width: 481px){
			font-size: 34px;
			margin-top: 50px;
		}
	}
}

#charts-topbar{
	background-image:url('../img/nightlife_music_venue_photo.jpg');
}

#login{
	background-image: url('../img/bg_wood.jpg');
	background-repeat: repeat;
	background-size: auto;

	.wwd-grid{
		div > span{
			height: 320px;
		}

	}
}

#ppc-solution-modal{
	.col-sm-2{
		.border-radius(5px);
		background: rgba(255,255,255,0.6);
	}
}