/* Products Filter */
.products-filter{
	/* Important - this builds on the standard portfolio carousel and */
	/* extends the class to include clients-carousel */
	&:extend(.portfolio-filter all);
}

#productsgrid{
	&:extend(#portfoliolist all);
	.portfolio{
		.portfolio-wrapper{
			img{
				-webkit-filter: grayscale(0);
				filter: grayscale(0);
				&:hover {
					-webkit-filter: grayscale(00);
					filter: grayscale(0.0);
				}
			}
			.caption{
				height: 112px;
				bottom: -62px;
				background: lighten(@greyDark, 10%);
				
				.caption-bg{
					background: transparent;
				}
				.caption-text{
					&:hover{
						background: @greyDark;
					}
						img{height: 25px}
					a.text-title{
						color: @white;
						font-size: 16px;

						@media screen and (max-width: 768px){
							font-size: 14px;
						}
					}
					p{
						margin-top: 8px; 
						font-size: 14px;
						color: @greyPale;
					}
				}
			}
		}
		
	}
}