/* social.less */
/* This is the twitter feed on the home page */
.social-bar{
	@media (max-width: 768px){
		display: none;
	}
	&.filled{
		background: darken(@greyDark, 10%);
		height: 50px;
		margin-top: 10px;
		color: white;

	}
	h2{
		font-size: 20px;
		float: left;
		margin-right: 10px;
	  	margin-top: 15px;
	  	min-width: 100px;
	  	@media (max-width: 960px){
	  		display: none;
	  	}

	}
	.social-badge{display: inline-block;
		float: left;
		border-radius: 20px;
		height: 35px;
		width: 35px;
		background: white;
		background-size: cover;
		margin-right: 10px;
	}
	.social-date{display: inline-block;
		font-weight: 400;
		margin-right: 10px;
	}
	.social-content{display: inline-block;
		float: left;
		text-align: left;
		font-size: 13px;
	}
	svg{
		margin-left: 10px;
		margin-top: 10px;
		float: right;
		width: 30px; 
		height: 30px;
		path{
			fill: @greyPale;
		}
		&:hover{
			path{fill: @white;}
		}
	}
}
/* tweet slider */
	#tweet-container{
		display: block;
		/*width: 100%;*/
	}

	#tweet-slides{
		margin-top: 5px;
		cursor: default;
		height:45px;
		> span{padding-left: 1px;} /* hack */

	}

	#tweet-container span.slide-control {
		display: block;
		color: white;
		text-align: center;
		font-size: 24px;
		line-height: 24px;
		padding: 13px 0;

	}
	#tweet-container span.slide-control:hover {
		cursor: pointer;
		background: darken(@greyDark, 3%);

	}