.btn-outline-light {
	color: white;
	border: 1px solid white;
	background: transparent;
	.transition-all;
	&:hover,
	&:focus {
		color: @themePrimary;
		background: white;
		outline: none;
	}
}

.btn-outline-dark {
	color: @themeDark;
	border: 1px solid @themeDark;
	background: transparent;
	.transition-all;
	&:hover,
	&:focus {
		color: white;
		background: @themePrimary;
		border-color: @themePrimary;
		outline: none;
	}
}

.btn {
	border-radius: 0;
	padding: 12px 18px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 1px;
	margin-bottom: 5px;
  	/*font-family: 'opensanslight';*/
  	font-weight: 100;
}

.btn:focus,
.btn:active,
.btn.active {
	outline: none;
}

.btn-full-width {
	border: 0;
	border-radius: 0;
	background-color: @themeDark;
	color: white;
	padding: 50px 0;
	font-size: 26px;
	font-weight: 200;
	letter-spacing: normal;
	text-transform: none;
	&:hover {
		background-color: @themePrimary;
		color: white;
	}
	&:focus {
		color: white;
	}
}