
html,
body {
	height: 100%;
}

.img-centered {
	margin: 0 auto;
}

.content-row {
	margin-top: 30px;
}

section {
	background-size: cover;
	background-attachment: fixed;
	background-color: darken(white, 2%);
	&.blue{
		background-color: @stormBlue;
		color: white;
	}
	&.greylight{
		background-color: @greyLight;
		color: @greyDark;
	}
    padding: 100px 0;
    &#sitemap{
    	h3{
    		color: @stormGreen;
    		text-align: left;
    	}
    	ul{
    		padding-left: 0;
			text-align: left;
    		list-style-type: none;
    	}
    	background: @greyDark;
    	color: white;
    }
}

.bg-gray {
	background-color: darken(white, 4%)
}

.bg-dark {
	color: white;
	background-color: @themeDark;
}

@media(max-width:767px) {
	section {
		padding: 75px 0;
	}
}

.owl-theme .owl-controls .owl-page span {
	background: fade(@themeDark, 50%);
}

input.form-control {
	border-radius: 0 !important;
	&:focus {
		border-color: @themePrimary;
		box-shadow: none;
	}
}

.btn,
.input-group-btn {
	border-radius: 0 !important;
	.transition-all;
}

.btn-primary {
	.button-variant(white; @stormBlue; @stormBlue);
}


.panel{
	.border-radius(5px);
	.box-shadow(0 0 2px rgba(0,0,0,0.1));
}