header {
	position: relative;
	display: block;
	height: auto;
	width: auto;
	background-color: @themeDark;
	background: no-repeat center center; 
	background-attachment: scroll;
	.background-cover;
	padding: 100px 0;
	.intro-content {
		color: white;
		text-align: center;
		position: relative;
	}
	.brand-name {
		.heading-font;
		font-size: 55px;
		line-height: 55px;
	}
	.brand-name-subtext {
		font-size: 17px;
		line-height: 20px;
		font-weight: 100;
		span{display: block; clear: both; margin:0; margin-top: 30px; padding: 0 10px;}
	}
	img {
		max-width: 150px;
		max-height: 150px;
	}
	.homeslide-footer{
		position: absolute;
		width: 100%;
		bottom: 0;
		text-align: center;
		z-index: 999;
		.scroll-down {
			.btn {
				height: 50px;
				width: 50px;
				margin-bottom: 20px;
				border: 2px solid white;
				border-radius: 100% !important;
				line-height: 50px;
				padding: 0;
				letter-spacing: normal;
				color: white;
				font-size: 30px;
				.transition-all;
				&:hover {
					color: fade(white, 50%);
					border-color: fade(white, 50%);
					outline: none;
				}
			}
		}
	}
}


@media(min-width:768px) {
	header {
		height: 100%;
		width: 100%;
		padding: 0;
		background-attachment: scroll;
		.video {
			.overlay {
				opacity: 0.5;
			}
		}

		.intro-content {
			color: white;
			text-align: center;
			width: 80%;
			margin: auto;
			position: absolute;
			top: 54%; left: 50%;
			-webkit-transform: translate(-50%,-50%);
			-ms-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
		}
		.brand-name {
			font-size: 80px;
			line-height: 80px;
		}
		.brand-name-subtext {
			font-size: 30px;
			line-height: 1.5em;
		}
		img {
			max-width: 300px;
			max-height: 300px;
		}		
  	}
}

@media(min-width:1200px) {
	header {
		background-attachment: fixed;
		.brand-name {
			font-size: 100px;
			line-height: 80px;
		}
  	}
}


@media(min-width:989px) {	
	header{
		.intro-content{
			width: 50%;
		}
	}
}

header.video {
	.overlay {
		position: absolute;
		height: 100%;
		width: 100%;
		background: #000;
		z-index: 998;
		opacity: 0;
	}
	.intro-content {
		z-index: 999;
	}
	.scroll-down {
		z-index: 999;
	}
}

@media(max-width:480px) {
	.scroll-down{display: none;}

}

