@subMenuBackground: @white;
@subMenuBackgroundHover:@stormGreen;

@navItemHoverBackground: @stormGreen;
@navItemHoverText: @white;

.navbar-fixed-top {
	margin-bottom: 0;
	z-index: 1046;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
	color: @white;
	background-color: @stormGreen;
	border-radius: 0;
}

/*.navbar-default {
	background-color: @themePrimary;
	.navbar-toggle {
		.icon-bar {
			background-color: white;
		}
	}
	.navbar-toggle:hover,
	.navbar-toggle:focus {
    	background-color: fade(white, 50%);
	}
	.navbar-collapse,
	.navbar-form {
		border-color: fade(white, 50%);
	}
}*/

.navbar-inverse {
	background-color: white;
	.navbar-toggle{
		background-color: @stormGreen;
		border: 0;
		.border-radius(0);
	}
}

.navbar-default,
.navbar-inverse {
	border: none;
	border-bottom: 1px solid fade(black, 20%);
	.navbar-brand {
		padding: 3px 15px;
		color: white;
		opacity: 1;
		text-decoration: none;
		width: 80px;
		height: 50px;
		.transition-all;
		&:hover,
		&:focus {
			opacity: 1;
		}

		svg{
			width: 100%;
		}
		
		svg path{
			fill: black;
		}
		&.white{
			@media screen and (min-width: 768px){
				svg path{
					fill: white;
				}
			}
		}
	}
	.navbar-nav {
		li, >.open {
			> a{
				font-family: 'open_sanssemibold';
				color: @stormGreen;
				&:hover {
					background: fade(@navItemHoverBackground, 90%);
				}
				i{margin-right: 10px; color: darken(white, 40%);}
			}
		}
		>.open a{
			background: fade(@navItemHoverBackground, 90%);
			color: @navItemHoverText;
		}
		>.open.active > a{background: @stormGreen;}
		li.callout-bottom{
			border: 0;
			&:before{
				border-top-color: @stormGreen;
			}
			&:after{
				border-top-color: @stormGreen;
			}
		}

		ul.dropdown-menu{
			right: auto;
			margin-top: 10px;
			padding: 0;
			background: @subMenuBackground;
			li{
				a{
					transition: none;
					-webkit-transition: none;
					background: transparent;
					padding: 15px 20px;
					/*width: 220px;*/
					border-bottom: 1px solid darken(@subMenuBackground, 10%);
					color: @greyDark;
					&:hover{
						background: @subMenuBackgroundHover;
						color: white;
						i{color: white;}
					}
				}
				&:last-child a{border-bottom: 0;}
			}
		}
	}
}



@media(min-width:769px) {
	.navbar-default .navbar-nav>.active>a,
	.navbar-default .navbar-nav>.active>a:hover,
	.navbar-default .navbar-nav>.active>a:focus,
	.navbar-inverse .navbar-nav>.active>a,
	.navbar-inverse .navbar-nav>.active>a:hover,
	.navbar-inverse .navbar-nav>.active>a:focus {
		border-radius: 0px;
	}	
    .navbar-fixed-top {
        padding: 5px 0;
        /*padding-bottom: 20px;*/ 
        -webkit-transition: padding 0.5s;
        -moz-transition: padding 0.5s;
        transition: padding 0.5s;
	    .navbar-brand {
	    	/* Smaller logo once the navbar has docked at the top */
	    	width:110px;
	    	height: 70px;
	        &:hover {
	        	opacity: 0.5;
	        }
	    }        
    }
	.navbar-default.navbar-expanded,
	.navbar-inverse.navbar-expanded {
		background: transparent;
		border: none;

		.navbar-right{
			margin-top: 40px;
			li a{color: white;}
		}
	}
	.navbar-right{
		margin-top: 10px;
	}
}

.navbar {
	a:focus {
		outline: none;
	}
	.navbar-nav {
		li {
			a:focus {
				outline: none;
			}
		}
	}
}


@media(max-width:989px) {	
	.navbar-fixed-top.navbar-expanded {
		.navbar-right{
			margin-top: 10px;
		}
		.container{
			width: 100%;
		}
	}
}
@media(min-width:1024px) {	
	.navbar-fixed-top.navbar-expanded {
        padding: 30px 0;    
        .navbar-brand{
        	/* Large Logo before the menu collapses */
        	padding: 0 15px;
        	width: 220px;
        	height: 140px;
        }
	}	
}