@import "variables.less";
@import "mixins.less";
@import "global.less";
@import "typography.less";
@import "navbar.less";
@import "header.less";
@import "asides.less";
@import "about.less";
@import "services.less";
@import "portfolio.less";
@import "pricing.less";
@import "contact.less";
@import "footer.less";
@import "buttons.less";
@import "themes.less";

@import "nightlife/journey.nav.less";
@import "nightlife/font.less";
@import "nightlife/colours.less";
@import "nightlife/social.less";
@import "nightlife/callouts.less";
@import "nightlife/video-js.less";
@import "nightlife/components.less";
@import "nightlife/journey.slides.less";
@import "nightlife/pages.less";
@import "nightlife/animation.less";
@import "nightlife/clients-carousel.less";
@import "nightlife/amv-carousel.less";
@import "nightlife/products-filter.less";

.infographic-video{height: 400px;}

#search {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 50px;
}
#label {
    position: relative;
    z-index: 200000000000000000;
 	label {
	    display: block;
	    width: 60px;
	    height: 60px;
	    background: url("../img/search.png") 0 0;
	    font-size: 0;
	    color: rgba(0, 0, 0, 0);
	    text-indent: -9999px;
	    cursor: pointer;
	    &:hover {
			background: url("../img/search.png") -60px 0
		}
	}
	&.active label {
    	background: url("../img/search.png") -60px 0;
	}
}

#input {
    position: absolute;
    top: 0;
    right: 60px;
    width: 600px;
    height: 60px;
    z-index: -1;
    overflow: hidden;
 	input {
	    display: block;
	    position: absolute;
	    top: 0;
	    right: -600px;
	    width: 580px;
	    height: 50px;
	    margin: 0;
	    padding: 0 10px;
	    border: none;
	    background: lighten(@greyDark, 70%);
	    color: @greyDark;
	    box-sizing: border-box;
	    font-size: 18px;
	    backface-visibility: none;
	    border-radius: 0;
	    transition: right 0;
	    z-index: 10;
	    &:focus {
    		outline: none;
		}
	}
	&.focus {
	    z-index: 20;
     	input {
		    right: 0;
		    transition: right 0.3s;
		}
	}
}
